@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@keyframes fadeInScale {
  from {
    opacity: 0.4;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes moveRightToLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-150px); /* Move to the right */
  }
  100% {
    transform: translateX(0); /* Move back to the left */
  }
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(150px); /* Move to the right */
  }
  100% {
    transform: translateX(0); /* Move back to the left */
  }
}

@keyframes rotateToAndFro {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

.animate-fadeInScale {
  animation: fadeInScale 450ms ease-out;
}
.animate-moveRightToLeft {
  animation: moveRightToLeft 4000ms ease-in;
  animation-iteration-count: infinite;
}
.animate-moveLeftToRight {
  animation: moveLeftToRight 4000ms ease-in;
  animation-iteration-count: infinite;
}
.animate-rotateToAndFro {
  animation: rotateToAndFro 4500ms ease-in-out;
  animation-iteration-count: infinite;
}